---
title: "Module 04: Lab 01"
subtitle: "Visual Reporting and Storytelling"
author: "Yani Tao"
number-sections: true
date: "2025-03-25"
date-modified: today
date-format: long
engine: jupyter
categories: ["visualization","plotly","spark","Visual Reporting","Storytelling with Data","Industry-Specific Visualization",]
execute: 
  eval: true
  echo: true
---

# Objectives {.unnumbered}

By the end of this lab, you will:
1. Load and analyze the **Lightcast dataset** in **Spark DataFrame**.
2. Create **five easy and three medium-complexity visualizations** using **Plotly**.
3. Explore **salary distributions, employment trends, and job postings**.
4. Analyze **skills in relation to NAICS/SOC/ONET codes and salaries**.
5. Customize **colors, fonts, and styles** in all visualizations (**default themes result in a 2.5-point deduction**).
6. Follow **best practices for reporting on data communication**.

# Step 1: Load the Dataset {.unnumbered}

In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

# 设置默认风格
sns.set(style="whitegrid")
plt.rcParams['font.size'] = 10

# 读取数据
df = pd.read_csv('_output/lightcast_cleaned.csv', parse_dates=['POSTED', 'EXPIRED', 'LAST_UPDATED_DATE'])

# 显示数据结构和前几行
print(df.shape)
df.head()

(32398, 132)

,ID,LAST_UPDATED_DATE,LAST_UPDATED_TIMESTAMP,DUPLICATES,POSTED,EXPIRED,DURATION,SOURCE_TYPES,SOURCES,URL,...,NAICS_2022_2_NAME,NAICS_2022_3,NAICS_2022_3_NAME,NAICS_2022_4,NAICS_2022_4_NAME,NAICS_2022_5,NAICS_2022_5_NAME,NAICS_2022_6,NAICS_2022_6_NAME,AVERAGE_SALARY
0,cb5ca25f02bdf25c13edfede7931508bfd9e858f,2024-06-19,2024-06-19 07:00:00.000 Z,0.0,2024-06-02,2024-06-17,15.0,"[\n ""FreeJobBoard""\n]","[\n ""craigslist.org""\n]","[\n ""https://modesto.craigslist.org/sls/77475...",...,Unclassified Industry,999.0,Unclassified Industry,9999.0,Unclassified Industry,99999.0,Unclassified Industry,999999.0,Unclassified Industry,92500.0
1,35a6cd2183d9fb270e3f504b270f36d43cb759a6,2024-09-06,2024-09-06 20:32:57.352 Z,0.0,2024-06-02,2024-06-12,10.0,"[\n ""Job Board""\n]","[\n ""dejobs.org""\n]","[\n ""https://dejobs.org/little-rock-ar/sr-lea...",...,Information,517.0,Telecommunications,5178.0,All Other Telecommunications,51781.0,All Other Telecommunications,517810.0,All Other Telecommunications,110155.0
2,229620073766234e814e8add21db7dfaef69b3bd,2024-10-09,2024-10-09 18:07:44.758 Z,0.0,2024-06-02,2024-08-01,NaN,"[\n ""Company""\n]","[\n ""3ds.com""\n]","[\n ""https://www.3ds.com/careers/jobs/sr-mark...",...,"Professional, Scientific, and Technical Services",541.0,"Professional, Scientific, and Technical Services",5415.0,Computer Systems Design and Related Services,54151.0,Computer Systems Design and Related Services,541511.0,Custom Computer Programming Services,92962.0
3,b7aa80a24c82f080cca31a8b5b720824eb2b71f3,2024-09-28,2024-09-28 14:06:14.129 Z,8.0,2024-06-02,2024-09-27,NaN,"[\n ""Government"",\n ""Company"",\n ""Job Board...","[\n ""dcscorp.com"",\n ""latpro.com"",\n ""ca.go...","[\n ""https://www.latpro.com/career/8048496/Da...",...,Wholesale Trade,423.0,"Merchant Wholesalers, Durable Goods",4238.0,"Machinery, Equipment, and Supplies Merchant Wh...",42383.0,Industrial Machinery and Equipment Merchant Wh...,423830.0,Industrial Machinery and Equipment Merchant Wh...,107645.5
4,57b527ea0f91db5bb17f82ff3d34dcdb7afe5c13,2024-09-06,2024-09-06 20:32:57.352 Z,0.0,2024-06-02,2024-07-27,55.0,"[\n ""Job Board""\n]","[\n ""simplyhired.com""\n]","[\n ""https://www.simplyhired.com/job/InNNBIUX...",...,"Professional, Scientific, and Technical Services",541.0,"Professional, Scientific, and Technical Services",5416.0,"Management, Scientific, and Technical Consulti...",54161.0,Management Consulting Services,541611.0,Administrative Management and General Manageme...,192800.0

# Salary Distribution by Employment Type
- Identify salary trends across different employment types.
- **Filter the dataset**
  - Remove records where **salary is missing or zero**.
- **Aggregate Data**
  - Group by **employment type** and compute salary distribution.
- **Visualize results**
  - Create a **box plot** where:
    - **X-axis** = `EMPLOYMENT_TYPE_NAME`
    - **Y-axis** = `SALARY_FROM`
  - Customize **colors, fonts, and styles** to avoid a **2.5-point deduction**.
- **Explanation:** Write two sentences about what the graph reveals.

In [12]:
# import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

sns.set(style="whitegrid")
plt.rcParams['font.size'] = 10

def plot_salary_by_employment_type(df):
    filtered_df = df[df['SALARY_FROM'] > 0]
    plt.figure(figsize=(10, 6))
    sns.boxplot(x='EMPLOYMENT_TYPE_NAME', y='SALARY_FROM', data=filtered_df, palette='Set2')
    plt.title('Salary Distribution by Employment Type')
    plt.xlabel('Employment Type')
    plt.ylabel('Starting Salary')
    plt.tight_layout()
    plt.savefig('_output/q1_salary_by_employment_type.svg', format='svg')
    plt.close()

![Salary Distribution by Employment Type](q1_salary_by_employment_type.svg)
Full-time employment (more than 32 hours) shows a higher median starting salary compared to part-time roles. However, salary distributions for all employment types include significant outliers, indicating variation within each category.

# Salary Distribution by Industry
- Compare salary variations across industries.
- **Filter the dataset**
  - Keep records where **salary is greater than zero**.
- **Aggregate Data**
  - Group by **NAICS industry codes**.
- **Visualize results**
  - Create a **box plot** where:
    - **X-axis** = `NAICS2_NAME`
    - **Y-axis** = `SALARY_FROM`
  - Customize colors, fonts, and styles.
- **Explanation:** Write two sentences about what the graph reveals.

In [13]:
def plot_salary_distribution_by_industry(df):
    output_path = '_output/q2_salary_by_industry.svg'

    filtered_df = df[df['SALARY_FROM'] > 0].copy()

    plt.figure(figsize=(20, 12)) 
    sns.boxplot(
        x='NAICS2_NAME',
        y='SALARY_FROM',
        data=filtered_df,
        palette='cubehelix',
        showfliers=False
    )
    plt.title('Salary Distribution by Industry', fontsize=14)
    plt.xlabel('Industry', fontsize=12)
    plt.ylabel('Starting Salary', fontsize=12)
    plt.xticks(rotation=45, ha='right')
    plt.tight_layout()
    plt.savefig(output_path, format='svg')
    plt.close()

![Salary Distribution by Industry](q2_salary_by_industry.svg)
Industries such as "Information" and "Professional, Scientific, and Technical Services" exhibit higher median starting salaries. In contrast, sectors like "Educational Services" and “Public Administration” tend to offer lower starting salaries, reflecting industry-based compensation differences.

# Job Posting Trends Over Time
- Analyze how job postings fluctuate over time.
- **Aggregate Data**
  - Count job postings per **posted date (`POSTED`)**.
- **Visualize results**
  - Create a **line chart** where:
    - **X-axis** = `POSTED`
    - **Y-axis** = `Number of Job Postings`
  - Apply custom colors and font styles.
- **Explanation:** Write two sentences about what the graph reveals.

In [14]:
def plot_job_trends_over_time(df):
    df['POSTED_DATE'] = df['POSTED'].dt.to_period('M')
    post_counts = df.groupby('POSTED_DATE').size().reset_index(name='Job Count')
    post_counts['POSTED_DATE'] = post_counts['POSTED_DATE'].astype(str)
    plt.figure(figsize=(12, 5))
    sns.lineplot(x='POSTED_DATE', y='Job Count', data=post_counts, marker='o', color='steelblue')
    plt.title('Job Posting Trends Over Time')
    plt.xlabel('Posted Date (Month)')
    plt.ylabel('Number of Job Postings')
    plt.xticks(rotation=45)
    plt.tight_layout()
    plt.savefig('_output/q3_posting_trend.svg', format='svg')
    plt.close()

![Job Posting Trends Over Time](q3_posting_trend.svg)
Job postings decreased from May to July 2024, hitting a low point in July. However, there was a strong rebound in August and September, indicating renewed hiring activity towards the end of the quarter.

# Top 10 Job Titles by Count
- Identify the most frequently posted job titles.
- **Aggregate Data**
  - Count the occurrences of each **job title (`TITLE_NAME`)**.
  - Select the **top 10 most frequent titles**.
- **Visualize results**
  - Create a **bar chart** where:
    - **X-axis** = `TITLE_NAME`
    - **Y-axis** = `Job Count`
  - Apply custom colors and font styles.
- **Explanation:** Write two sentences about what the graph reveals.

In [15]:
def plot_top_10_job_titles(df):
    top_titles = df['TITLE_NAME'].value_counts().nlargest(10).reset_index()
    top_titles.columns = ['TITLE_NAME', 'Job Count']
    plt.figure(figsize=(10, 6))
    sns.barplot(y='TITLE_NAME', x='Job Count', data=top_titles, palette='mako')
    plt.title('Top 10 Job Titles by Count')
    plt.xlabel('Job Count')
    plt.ylabel('Job Title')
    plt.tight_layout()
    plt.savefig('_output/q4_top_titles.svg', format='svg')
    plt.close()

![Top 10 Job Titles](q4_top_titles.svg)
"Data Analysts" dominate the job postings with a significantly higher count than other titles, highlighting strong demand for data-focused roles. Roles like "Business Intelligence Analysts" and "Enterprise Architects" also appear frequently, suggesting ongoing needs in analytics and strategic IT planning.

# Remote vs On-Site Job Postings
- Compare the proportion of remote and on-site job postings.
- **Aggregate Data**
  - Count job postings by **remote type (`REMOTE_TYPE_NAME`)**.
- **Visualize results**
  - Create a **pie chart** where:
    - **Labels** = `REMOTE_TYPE_NAME`
    - **Values** = `Job Count`
  - Apply custom colors and font styles.
- **Explanation:** Write two sentences about what the graph reveals.

In [16]:
def plot_remote_vs_onsite(df):
    remote_counts = df['REMOTE_TYPE_NAME'].value_counts().reset_index()
    remote_counts.columns = ['REMOTE_TYPE_NAME', 'Job Count']
    plt.figure(figsize=(6, 6))
    plt.pie(remote_counts['Job Count'], labels=remote_counts['REMOTE_TYPE_NAME'], autopct='%1.1f%%', colors=sns.color_palette('pastel'))
    plt.title('Remote vs On-Site Job Postings')
    plt.tight_layout()
    plt.savefig('_output/q5_remote_vs_onsite.svg', format='svg')
    plt.close()

![Remote vs On-Site Job Postings](q5_remote_vs_onsite.svg)
A significant portion (73.2%) of job postings lack remote work classification, indicating incomplete labeling or on-site defaults. Among those labeled, 21.3% are remote roles, suggesting a moderate trend toward remote work but still a minority overall.

# Skill Demand Analysis by Industry (Stacked Bar Chart)
- Identify which skills are most in demand in various industries.
- **Aggregate Data**
  - Extract **skills** from job postings.
  - Count occurrences of skills grouped by **NAICS industry codes**.
- **Visualize results**
  - Create a **stacked bar chart** where:
    - **X-axis** = `Industry`
    - **Y-axis** = `Skill Count`
    - **Color** = `Skill`
  - Apply custom colors and font styles.
- **Explanation:** Write two sentences about what the graph reveals.

In [17]:
def plot_skill_demand_stacked(df):
    import ast
    df['SKILLS_NAME'] = df['SKILLS_NAME'].apply(lambda x: ast.literal_eval(x) if isinstance(x, str) and x.startswith('[') else [])
    exploded = df.explode('SKILLS_NAME')
    grouped = exploded.groupby(['NAICS2_NAME', 'SKILLS_NAME']).size().reset_index(name='Count')
    top_skills = grouped.groupby('SKILLS_NAME')['Count'].sum().nlargest(5).index
    filtered = grouped[grouped['SKILLS_NAME'].isin(top_skills)]

    pivot = filtered.pivot_table(index='NAICS2_NAME', columns='SKILLS_NAME', values='Count', fill_value=0)

    pivot.plot(kind='bar', stacked=True, figsize=(20, 12), colormap='tab20c')
    plt.xticks(rotation=45, ha='right') 
    plt.title('Top 5 Skill Demand by Industry')
    plt.ylabel('Skill Count')
    plt.xlabel('Industry')
    plt.tight_layout()
    plt.savefig('_output/q6_skill_stacked.svg', format='svg')
    plt.close()

![Top 5 Skill Demand by Industry](q6_skill_stacked.svg)
Across industries, Communication, Data Analysis, and Management consistently rank among the top demanded skills. Particularly in “Professional, Scientific, and Technical Services” and “Finance and Insurance”, the demand for these core skills is significantly higher, indicating a strong emphasis on both interpersonal and analytical capabilities.


# Salary Analysis by ONET Occupation Type (Bubble Chart)
- Analyze how salaries differ across ONET occupation types.
- **Aggregate Data**
  - Compute **median salary** for each occupation in the **ONET taxonomy**.
- **Visualize results**
  - Create a **bubble chart** where:
    - **X-axis** = `ONET_NAME`
    - **Y-axis** = `Median Salary`
    - **Size** = Number of job postings
  - Apply custom colors and font styles.
- **Explanation:** Write two sentences about what the graph reveals.

In [18]:
def plot_salary_by_onet_type(df):
    onet_group = df.groupby('ONET_NAME').agg({
        'SALARY_FROM': 'median',
        'TITLE_NAME': 'count'
    }).reset_index().rename(columns={'SALARY_FROM': 'Median Salary', 'TITLE_NAME': 'Job Count'})
    plt.figure(figsize=(12, 6))
    plt.scatter(
        onet_group['ONET_NAME'], 
        onet_group['Median Salary'], 
        s=onet_group['Job Count'] * 0.2, 
        alpha=0.6, c=onet_group['Median Salary'], cmap='coolwarm'
    )
    plt.xticks(rotation=90)
    plt.title('Salary by ONET Occupation Type')
    plt.xlabel('ONET Type')
    plt.ylabel('Median Salary')
    plt.tight_layout()
    plt.savefig('_output/q7_onet_bubble.svg', format='svg')
    plt.close()

![Salary by ONET Occupation Type](q7_onet_bubble.svg)
The dataset shows only one ONET occupation type, Business Intelligence Analysts, with a median starting salary of around $88,000. The large bubble size reflects a high number of job postings, indicating both strong demand and a concentrated occupation type in this dataset.

# Career Pathway Trends (Sankey Diagram)
- Visualize job transitions between different occupation levels.
- **Aggregate Data**
  - Identify career transitions between **SOC job classifications**.
- **Visualize results**
  - Create a **Sankey diagram** where:
    - **Source** = `SOC_2021_2_NAME`
    - **Target** = `SOC_2021_3_NAME`
    - **Value** = Number of transitions
  - Apply custom colors and font styles.
- **Explanation:** Write two sentences about what the graph reveals.

In [19]:
def plot_career_path_sankey(df):
    import plotly.graph_objects as go
    df_path = df[['SOC_2021_2_NAME', 'SOC_2021_3_NAME']].dropna()
    path_counts = df_path.groupby(['SOC_2021_2_NAME', 'SOC_2021_3_NAME']).size().reset_index(name='Count')
    all_nodes = list(set(path_counts['SOC_2021_2_NAME']) | set(path_counts['SOC_2021_3_NAME']))
    node_indices = {k: v for v, k in enumerate(all_nodes)}
    fig = go.Figure(data=[go.Sankey(
        node=dict(label=all_nodes),
        link=dict(
            source=path_counts['SOC_2021_2_NAME'].map(node_indices),
            target=path_counts['SOC_2021_3_NAME'].map(node_indices),
            value=path_counts['Count']
        )
    )])
    fig.write_image('_output/q8_career_sankey.svg')

![Career Pathway Sankey](q8_career_sankey.svg)
The Sankey diagram shows a single career transition from Computer and Mathematical Occupations to Mathematical Science Occupations.